.gradle
/local.properties
.DS_Store
/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
local.properties
.classpath
.project
.idea
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
