<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="tk.mygod.invisibleWidgetPlus" versionCode="358" versionName="2.1.8.358">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />

    <application tools:replace="android:theme" android:allowBackup="true" android:icon="@drawable/invisible"
                 android:label="@string/app_name" android:theme="@style/Theme.Material.Blue"
                 android:fullBackupContent="true" android:supportsRtl="true">

        <activity android:name=".ShortcutsChooser" android:label="@string/configure_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivitiesShortcut" android:label="@string/action_activities">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity android:name=".DoNothingShortcut" android:label="@string/action_do_nothing"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <receiver android:name=".InvisibleWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/invisible_widget_info" />
        </receiver>
    </application>

</manifest>
